{
	"CFBundleDevelopmentRegion" = English;
	CFBundleExecutable = MkConsole;
	CFBundleIconFile = mkconsole;
	CFBundleIdentifier = "com.mulle-kybernetik.MkConsole";
	"CFBundleInfoDictionaryVersion" = "6.0";
	CFBundlePackageType = APPL;
	CFBundleSignature = "????";
	CFBundleVersion = "1.12";
	NSMainNibFile = MainMenu;
	NSPrincipalClass = EDApplication;
}